<div class="row">
  <div class="card col col p-3 m-3">
    <div class="ui statistic">
      <div class="label" style="color:orangered;">
        Confirmed
      </div><br>
      <div class="label" style="margin: auto">
        <div class="orange statistic">
          <div class="value" >
            {{TotalConfirmed}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card col p-3 m-3">
    <div class="ui statistic">
      <div class="label" style="color: green;">
        Recovered
      </div><br>
      <div class="label" style="margin: auto">
        <div class="green statistic">
          <div class="value">
            {{TotalRecovered}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card col col p-3 m-3">
    <div class="ui statistic">
      <div class="label" style="color: red;">
        Deaths
      </div><br>
      <div class="label" style="margin: auto">
        <div class="red statistic">
          <div class="value">
            {{TotalDeaths}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card col col p-3 m-3">
    <div class="ui statistic">
      <div class="label" style="color:blue;">
        Active
      </div><br>
      <div class="label" style="margin: auto">
        <div class="blue statistic">
          <div class="value">
            {{TotalActive}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>